{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-12 mt-5">
            <p class="text-center">Available stations in {{ country }}</p>
        </div>
        <div class="col-12">
            {{ form(form) }}
        </div>
    </div>
{% endblock %}